header {
  position: relative;
  width: 100%;
}
header h1 {
  background-color: tomato;
  padding: 24px 0;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  border-bottom: 1px solid #222;
}
header .search-box {
  padding: 24px 0;
  text-align: center;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #222;
}

header .search-box input {
  padding: 7px 10px;
  margin-left: 10px;
}

header .search-box button {
  padding: 7px 10px;
  margin-left: 10px;
}

section {
  padding: 40px;
  background-color: beige;
}

section ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

section ul li {
  position: relative;
  border: 1px solid #222;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
}

section ul li h3 {
  padding: 20px 0 0 0;
  font-size: 18px;
  font-weight: bold;
}
section ul li p {
  padding: 10px 0;
  font-size: 14px;
  height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  line-height: 1.5;
}

section ul li .card-img img {
  width: 100%;
  height: 100%;
  min-height: 380px;
  object-fit: cover;
}

section ul li span {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: block;
  text-align: right;
  margin-top: 10px;
  font-size: 14px;
  color: tomato;
}

.back {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 12px;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.back:hover {
  color: black;
}

.dark header h1 {
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 100%
  );
  border: none;
  color: white;
}
.dark header .search-box {
  background-color: #000;
  color: white;
}

.dark section {
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 49%,
    rgba(161, 26, 131, 1) 100%
  );
}
.dark section ul li {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
}

.dark .back {
  background-color: #6b6b6b;
}

button#toggle {
  z-index: 999;
  position: fixed;
  top: 50px;
  right: 50px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #fff;
  border: none;
  font-size: 24px;
  box-shadow: 0px 0px 0px -2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal > div {
  overflow-y: scroll;
  width: 50%;
  height: 90%;
  border-radius: 15px;
  background-color: #000;
  color: white;
}

.modal .covered-img {
  width: 100%;
  height: 50%;
  background-size: cover;
}

.modal .genre {
  display: flex;
  gap: 10px;
  padding: 20px 20px 0 20px;
}
.modal .genre li {
  background-color: tomato;
  color: white;
  font-size: 13px;
  padding: 7px 10px;
  border-radius: 5px;
}

.modal h3 {
  padding: 20px;
  font-size: 48px;
}
.modal p {
  padding: 0 20px 20px 20px;
  font-size: 18px;
  line-height: 1.5;
}
